* {
	color: white;
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: "MyWebFont";
	src: url("comicsans.ttf")
}

body {
	background-size: cover;
	background-image: url("960x0.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

html {
	font-family: 'MyWebFont';
	text-align: center;
}

.scroller {
	position: fixed;
	height: 30px;
	background: black;
	width: 100%;
}

.scroller * {
	display: inline-block;
}

h1.ya3 {
	padding-top: 60px;
	color: black;
}

h1 p {
	background-color: orange;
	display: inline;
	margin-left: 4px;
	padding: 8px;
	border-radius: 4pt;
	color: black;
	font-family: 'Gotham';
}

.ya {
	display: flex;
	justify-content: center;

	line-height: 200px;
	height: 160px;
}

.ya2 {
	font-size: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 3em;
	line-height: calc(2.2em);
}

.ya2 p {
	height: 30px;
	line-height: 30px;
}

.grid {
	width: 80%;
	background: #361607;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 10em;

	min-height: 500px;
}

.grid .item img {
	max-width: 80%;
}

@media (max-width: 1000px) {
	.grid {
		grid-template-columns: 1fr;
	}
}